
.navbar-inverse .navbar-nav > li > a {
    color: #e2ff00 !important; 
}

element.style {
opacity: none;
}

p{
	font-family: 'Arial';
}

ul{
	color: white;
	margin-bottom: 100px;
}
input{
	border: none;
}
.grande{
	font-size: 2em;
}
.bg-md{
	background-color: #2d2735;
}
.espacio{
	margin-bottom: 10%;
}
.espacio-1{
	padding-left: 3%;
}
.fondo-1{
	background-image: url("../img/header-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.negro{
	background-color: black;
	margin: 10%;
	padding: 10%;
}
.tit{
	font-size: 5em;
	font-style: italic;
}
.amarillo{
	color: #ff9900;
}

.bg-negro{
background-color:#000; 
}

.logo{
	width: 30%;
	height: 1%;
	margin-bottom:1%; 
}
.buscador{
	padding: 1em;
	width: 100%;
}
.blanco{
	color: white;
}
li{
	display: inline-block;
}
